body{
background-image: url(twitter.png);
background-repeat: no-repeat;
background-position: center;
margin: 0;

text-align: center;
}

.top-container{
  background-color: #1cc5dc;
  margin-top: 0;
 font-size: 30px;
  text-align: right

}
p{
  font-size: 40px;
font-family: cursive;
}
h1{
  font-size: 50px;
}

.c{
  font-size: 50px;
}
.bottom-container{

  margin-top: 100px;
  padding-bottom: 3%
}
.pre{
  background-color: #1089ff;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  height:52px;
  border-color: blue;
}
.next{
  background-color: #1089ff;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  height:53px;
  border-color: blue;
}

.output{
  border-radius: 30px;
  height: 50px;
  text-align: center;
  border-width: thick;
  border-color: blue;
  font-size: 30px;
}

.b{
  margin-top: 50px;
  line-height: 70px;
}
